<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AllowedTypes</key>
    <array>
        <string>org.eerolanguage.eero-source</string>
    </array>
    <key>Description</key>
    <string>An Eero class, with implementation and header files.</string> 
    <key>Kind</key>
    <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
    <key>MainTemplateFile</key>
    <string>___FILEBASENAME___.eero</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Description</key>
            <string>The name of the class to create</string>
            <key>Identifier</key>
            <string>productName</string>
            <key>Name</key>
            <string>Class Name</string>
            <key>NotPersisted</key>
            <true/>
            <key>Required</key>
            <true/>
            <key>Type</key>
            <string>text</string>
        </dict>
        <dict>
            <key>Default</key>
            <string>false</string>
            <key>Identifier</key>
            <string>superclassNotNSObject</string>
            <key>Name</key>
            <string>Not a subclass of NSObject</string>
            <key>NotPersisted</key>
            <true/>
            <key>Type</key>
            <string>checkbox</string>
        </dict>
        <dict>
            <key>Default</key>
            <string></string>
            <key>Description</key>
            <string>What class to subclass in the new file</string>
            <key>Identifier</key>
            <string>superclassName</string>
            <key>Name</key>
            <string>Subclass of</string>
            <key>NotPersisted</key>
            <true/>
            <key>Required</key>
            <true/>
            <key>RequiredOptions</key>
            <dict>
                <key>superclassNotNSObject</key>
                <array>
                    <string>true</string>
                </array>
            </dict>
            <key>Type</key>
            <string>text</string>
        </dict>
        <dict>
            <key>Default</key>
            <string>___VARIABLE_superclassName:identifier___</string>
            <key>Identifier</key>
            <string>superclassSpecifier</string>
            <key>Type</key>
            <string>static</string>
        </dict>
    </array>
    <key>Platforms</key>
    <array>
      <string>com.apple.platform.iphoneos</string>
      <string>com.apple.platform.macosx</string>
    </array>
    <key>SortOrder</key>
    <string>1</string>
    <key>Summary</key>
    <string>An Eero class with a header</string>
</dict>
</plist>
